<!DOCTYPE html>
<html>

    <head>
        <title>Registration & Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href= "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
        <script src= "https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src= "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src= "https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#table1').DataTable();
            } );
        </script>
    </head>
    <body>
        <div class="container">
            <div class="first">
               <h3> Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
               <h4>All the songs in your hub:</h4>
               <table id="table1" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Artist</th>
                            <th>Title</th>
                            <th>No of Times Song Has Been Added</th>
                            <th>Add to Playlist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @songs %>
                            <% @songs.each do |song| %>
                                <tr>
                                    <td><%= song.artist %></td>
                                    <td> <a href="/songs/<%= @song.find_by(title: song.title).id %>"><%= song.title %></td>
                                    <td><%= @song.where(title: song.title).count %> </td>
                                    <td> 
                                            <form action="/playlist/<%= @song.find_by(title: song.title).id %>/add" method='post'>
                                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                            <input type="hidden" name="_method" value="patch">
                                            <button type="submit">Add</button>
                                            </form>
                                    </td>

                                    <td></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="second">
                <h4>Add a Song: </h4>
                 <form action="/songs" method="post">
                    <label>Title: </label>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="text" name="song[title]">
                    <div>
                        <label>Artist: </label>
                        <input type="text" name="song[artist]">
                    </div>
                    <button type="submit">Add Song</button>
                </form>
            </div>
        </div>
    </body>
</html>